
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Настройки</h2>
                </div>
                <div class="content">
                    <button class="btn-color" data-color="azure" style="background: azure">1</button>
                    <button class="btn-color" data-color="lawngreen" style="color: lawngreen">2</button>
                    <button class="btn-color" data-color="darkred" style="color: darkred">3</button>
                    <button class="btn-color" data-color="cyan" style="color: cyan">4</button>
                    <button class="btn-color" data-color="lightslategray" style="color: lightslategray">5</button>
                </div>
            </div>
        </div>
    </div>
</div>

