
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Страница не найдена!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
   
    <link rel="shortcut icon" href="@Url.Content("~/favicon.png")" />

    <link href="~/Content/error/css/main.css" rel="stylesheet" />
    <link href="~/Content/error/css/fonts.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <meta name="robots" content="noindex">

    <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-34868011-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

    </script>


</head>
<body class="notfound">
    <div class="wrapper">
        <div class="big">СТРАНИЦА НЕ НАЙДЕНА</div>
        @if (Request.IsAuthenticated) { <div><a href="@Url.Action("Index", "Main")">На Главную</a>.</div> }
        else { <div><a href="@Url.Action("Index", "Home")">На Главную</a>.</div>}
    </div>
</body>
</html>