@model Catalogue.Models.Position

@{
    ViewBag.Title = "Удаление должности";
    Layout = "~/Views/Shared/_AminPanel.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Удаление должности</h2>
                    <br/>
                    <h3>Вы действительно хотите удалить запись?</h3>
                </div>
                <div class="content">
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.PositionName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PositionName)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Удалить" class="btn btn-default" /> |
                                <a class="btn btn-default" name="backButton" id="backButton" href="@Url.Action("Index","Position")">Назад</a>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>