@model Catalogue.Models.Position

@{
    ViewBag.Title = "Просмотр должности";
    Layout = "~/Views/Shared/_AminPanel.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Просмотр должности</h2>
                </div>
                <div class="content">
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.PositionName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PositionName)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        <a class="btn btn-default" name="editButton" id="editButton" href="@Url.Action("Edit","Position", new {id = Model.PositionId})">Редактировать</a> |
                        <a class="btn btn-default" name="backButton" id="backButton" href="@Url.Action("Index","Position")">Назад</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>